* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  background-color: white;
  color: rgb(40, 40, 255);
  border: none;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #222;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
/* banner styles */
.header {
  background-image: url("./images/banner/banner3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 650px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.banner-info {
  width: 510px;
  text-align: end;
  margin-right: 160px;
}

.banner-title {
  color: white;
  font-size: 55px;
}

.banner-description {
  margin: 30px 0px;
  line-height: 20px;
  font-size: small;
  color: white;
}

/* failures-section */

.failures-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px 0px;
  gap: 70px;
}

.failures-section img {
  width: 450px;
}

.failures-info {
  margin-top: 130px;
  width: 350px;
}
.failures-title {
  font-size: 40px;
}

.failures-description {
  margin: 20px 0px;
  font-size: small;
  line-height: 22px;
}

.failures-info li {
  list-style: none;
  font-size: small;
  line-height: 30px;
}
.failures-info img {
  width: 15px;
  margin-right: 2px;
}

/* plan section style */

.plans {
  margin: 0 200px;
}

.plan-title {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 80px;
}

.plans-info {
  text-align: center;
}
.plans-info h3 {
  font-size: 25px;
  margin: 10px 0px;
}

.plans-cards {
  display: flex;
  justify-content: space-between;
}

.plans-info p {
  font-weight: bold;
  color: gray;
}

.bottom-banner {
  margin: 130px 0px;
  height: 250px;
  background-image: linear-gradient(
      rgba(61, 64, 214, 0.9),
      rgba(77, 98, 214, 0.253)
    ),
    url("./images/watch.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-banner-info {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 50px;
}

.bottom-banner-info h2 {
  color: white;
  font-size: 35px;
  margin-bottom: 15px;
}

/* footer style */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  color: white;
  padding: 130px 200px;
}

.footer-info {
  width: 500px;
}

.footer-info h1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 40px;
}

.footer-info ul {
  margin-bottom: 20px;
}
.footer-info li {
  list-style: none;
  margin-top: 15px;
  font-size: small;
}

.socials img {
  width: 40px;
  margin-right: 4px;
}

.subscribe-input {
  padding: 20px 60px;
  border-radius: 5px;
  background-color: #222;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 2px solid white;
}

.btn-subscribe {
  background-color: rgb(60, 60, 218);
  color: white;
  border: none;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.btn-subscribe:hover {
  background-color: white;
  color: rgb(60, 60, 218);
  transition: 0.5s;
  cursor: pointer;
}

/* one year learning style */

.plane-container {
  margin: 130px 200px;
  display: flex;
  gap: 25px;
}

.donate-card {
  margin-top: 40px;
  padding: 60px 30px;
  background-color: rgb(236, 246, 252);
  border-radius: 5px;
}

.donate-card h3 {
  margin: 15px 0px;
  font-size: 24px;
}

.donate-card p {
  color: #747474;
}

.donate-card img {
  width: 40px;
}

.one {
  background-color: rgb(255, 226, 221);
}

.two {
  background-color: rgb(255, 255, 210);
}

.donate-album-section {
  margin-top: 100px;
}

.donate-album {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.donate-img {
  width: 500px;
  border-radius: 5px;
}

.donate-info h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.donate-info p {
  margin-bottom: 20px;
  color: #7e7d7d;
}

.donate-two {
  margin-top: 100px;
}
